body {
  font-family: "Times New Roman", Times, serif, sans-serif;
  background-color: #cdcbcb;
  margin: 0;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0056b3;
  color: white;
  padding: 10px;
}

.logo {
  margin: 0 20px;
  width: 100px;
  height: 100px;
}
.title {
  font-size: 30px; /* Responsive font size */
  text-align: center;
  line-height: 40px;
  word-spacing: 100%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.prepared-by {
  font-size: 1.5vw; /* Responsive font size */
  text-align: center;
}
/* Apply styles to your elements here */
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  margin-bottom: 10px;
}

button {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

h2 {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 10px;
}

p {
  margin-bottom: 8px;
}

/* Apply styles to your elements here */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  background-color: #1f2937;
  color: white;
}

.left-pane {
  width: 400px;
  padding: 20px;
}

.right-pane {
  width: 40%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}
h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  margin-bottom: 10px;
}

button {
  padding: 8px 16px;
  background-color: #0056b3;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #003c80;
}

h2 {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 10px;
}

p {
  margin-bottom: 8px;
}
/* Apply styles to input elements */
input[type="number"] {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: 16px;
  transition: border-color 0.3s ease-in-out;
}

input[type="number"]:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
